.cardbtn {
  cursor: pointer;
  font-size: 18px;
  float: left;
}

.closebtn {
  float: right;
  font-size: 12px;
  width: 12px;
  opacity: 0.1;
}

.dragbtn {
  opacity: 0.1;
}

.cardsize {
  padding: 5px;
  min-height: 100px;
}

.subTopicName {
  padding-left: 24px;
}

.cardsize:hover .closebtn {
  opacity: 0.5;
}

.cardsize:hover .dragbtn {
  opacity: 0.5;
}
