<div class="column" *ngIf="day">
  <mat-card-title-group>
    <mat-card-title *ngIf="day.dayNum == 0">
      Sunday
    </mat-card-title>
    <mat-card-title *ngIf="day.dayNum == 1">
      Monday
    </mat-card-title>
    <mat-card-title *ngIf="day.dayNum == 2">
      Tuesday
    </mat-card-title>
    <mat-card-title *ngIf="day.dayNum == 3">
      Wednesday
    </mat-card-title>
    <mat-card-title *ngIf="day.dayNum == 4">
      Thursday
    </mat-card-title>
    <mat-card-title *ngIf="day.dayNum == 5">
      Friday
    </mat-card-title>
    <mat-card-title *ngIf="day.dayNum == 6">
      Saturday
    </mat-card-title>
    <mat-card-title *ngIf="day.dayNum > 6 && day.dayNum < 0">
      Unknown Day Num: {{day.dayNum}}
    </mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <cdk-drop droppable (onDrop)="onSubTopicDrop($event)" (dropped)="onSubTopicRearranged($event)" class="list-group">
      <li *ngIf="!day.subTopics || day.subTopics.length == 0" class="list-group-item">Drop content here</li>
      <li *ngFor="let subTopic of day.subTopics; let i=index" ng-mouseenter="test[i]=true" ng-mouseleave="test[i]=false" class="list-group-item" cdkDrag>
        <p>{{subTopic.name}}</p>
        <span class="add-space"></span>
        <button mat-button mat-icon-button aria-label="add" (click)="removeSubTopic(i)" *ngIf="test[i]">
          <mat-icon color="secondary">add</mat-icon>
        </button>
      </li>
      

    </cdk-drop>
  </mat-card-content>
</div>