// Variables
// font
$weight: bold; // font-weight
$mid: center; // text-align
// color 
$oColor: rgb(231, 94, 2); 
$wColor: white; 
// border
$radius: 13px 13px 13px 13px; // border radius
$shadow: 0px 0px 2px 2px; //shadow effect on buttons related to Calender
// size
$w100: 100%; // width 

// specific mat-card editting 
mat-card{
    background-color: #ffffffe7;
    color: black;
    font-weight: $weight;
}

// opacity set to 0 for a tranparent bar, needed
#buttonBar {
    opacity: 0 !important;
}

// button configuration for specific button editting
button{
    background-color: $oColor;
    border-radius: $radius;
    color: $wColor;
    font-weight: $weight;
    border-style: outset;
    border-width: 3px;
    border-color: $oColor $shadow;
    font-size: .85vw;
  }
  button:hover{
    box-shadow:  $oColor $shadow;
}

// login box editting
#login{
    font-size: 3vw;
    margin-left: 85%;
}