#buttonBar {
    opacity: 0 !important;
}

button{
    background-color: rgb(252, 105, 21);
    border-radius: 13px 13px 13px 13px;
    color: white;
    font-weight: bold;
    border-style: outset;
    border-width: 3px;
    border-color: rgb(255, 94, 0) 0px 0px 2px 2px;
    font-size: .85vw;
  }
  button:hover{
    box-shadow:  rgb(255, 94, 0) 0px 0px 2px 2px;
}

#login{
    font-size: 3vw;
    margin-left: 85%;
}