<div *ngIf="this.user" class="container">
  <!-- WAGBar -->
  <div class="row">
    <div class="col-sm mb-3 mt-2">
      <mat-card #bg class="">
        <mat-card-header class="d-flex bd-highlight">
          <div class="p-2 w-100 bd-highlight">
            <h1>
              Welcome, {{this.user.firstName}}
            </h1>
          </div>
          <div class="p-2 flex-shrink-1 bd-highlight">
            <button mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content style="font-size: 18px">
          <br/>
          <div class="row">
            <div class="col-sm-6">
              <span *ngIf="this.batch">Current Batch: {{this.batch.name}}</span>
            </div>
            <div class="col-sm-6">
              <button mat-raised-button style="float: right" color="primary" routerLink="../calendar">View Calendar
                <mat-icon>event</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Personal and Batch Info -->
  <div class="row">
    <!-- Batch Info -->
    <div class="col-sm">
      <mat-card class="rounded">
        <mat-card-header>
          <mat-toolbar style="background-color: rgba(0, 0, 0, 0); height: 50%;">
            <span>
              <h4 style="font-size: 140%;">Batch Information</h4>
            </span>
          </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <h6 *ngIf="this.batch">Current Batch: {{this.batch.name}}</h6>
            </mat-list-item>
            <mat-list-item>
              <h6 *ngIf="this.batch">Batch Week: #{{this.batchWeek}}</h6>
            </mat-list-item>
            <mat-list-item>
              <h6 *ngIf="this.batch">Start Date: {{this.batch.startDate | date}}</h6>
            </mat-list-item>
            <mat-list-item>
              <h6 *ngIf="this.batch">End Date: {{this.batch.endDate | date}}</h6>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Batch Progress -->
    <div class="col-sm mt-3">
      <mat-card class="rounded">
        <mat-card-header>
          <mat-card-title>
            <h4>Batch Progress</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <h5>Progress By Day</h5>
            </mat-list-item>
            <mat-list-item>
              <h6>{{this.percentCompletion | percent}} Completed</h6>
            </mat-list-item>
          </mat-list>
          <mat-progress-bar mode="determinate" [value]="this.percentCompletion * 100" ></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>