<div *ngIf="this.user" class="container">
  <!-- WAGBar -->
  <div class="row">
    <div class="col-sm mb-3 mt-2">
      <mat-card>
        <mat-card-header>
          <div class="p-2 w-100 bd-highlight">
            <h1>
              Welcome, {{this.user.firstName}}
            </h1>
          </div>
        </mat-card-header>
        <mat-card-content style="font-size: 18px">
          <span>Week At a Glance Bar</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Personal and Batch Info -->

  <!-- Batch Info -->
  <div class='d-flex flex-row'>
    <mat-card class="rounded justify-content-center">
      <p><button mat-button (click)="sidenav.toggle()" class='flex-fill'>Batch Details</button></p>
    </mat-card>
  </div>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" 
      class='border border-dark rounded'>
      <mat-list dense>
        <mat-list-item>
          Current Batch:
          <span *ngIf="this.batch">&nbsp;{{this.batch.name}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Batch Week: #
          <span *ngIf="this.batch">&nbsp;{{this.batchWeek}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Start Date:
          <span *ngIf="this.batch">&nbsp;{{this.batch.startDate | date}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          End Date:
          <span *ngIf="this.batch">&nbsp;{{this.batch.endDate | date}}</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card class='border border-dark rounded justify-content-center'>
        <mat-card-header>
          Batch Progress
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <h5>Progress By Day</h5>
            </mat-list-item>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Overall Progress
                  </mat-panel-title>
                  <mat-panel-description>
                  <p>
                    <span class="badge badge-success">{{this.percentCompletion | percent}} Completed</span>
                  </p>
                  <mat-progress-bar mode="determinate" [value]="this.percentCompletion * 100"></mat-progress-bar>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                  <input matInput placeholder="First name">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Age">
                </mat-form-field>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Self aware panel
                  </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-list-item class='border border-dark'>

             empty box boop bop
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

    </mat-sidenav-content>
  </mat-sidenav-container>




</div>