<div *ngIf="this.user" class="container">
  <div class="row">
    <div class="col-sm my-4">
      <mat-card color="primary">
        <mat-card-header>
            <mat-card-title style="font-size: 65px">
              Welcome, {{this.user.firstName}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content style="font-size: 18px">
          <mat-divider [inset]="true"></mat-divider>
          <br/>
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <span *ngIf="this.batch">Current Batch: {{this.batch.name}}</span>
              </div>
              <div class="col-sm-6">
                <button mat-raised-button style="float: right" color="primary" routerLink="../calendar">View Calendar<mat-icon>event</mat-icon></button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h4>Pesonal Information</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <h6>First Name: {{this.user.firstName}}</h6>
            </mat-list-item>
            <mat-list-item>
              <h6>Last Name: {{this.user.lastName}}</h6>
            </mat-list-item>
            <!-- Leave these extra list items here for formatting reasons -->
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h4>Batch Information</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <h6 *ngIf="this.batch">Current Batch: {{this.batch.name}}</h6>
            </mat-list-item>
            <mat-list-item>
              <h6 *ngIf="this.batch">Batch Week: #{{this.batchWeek}}</h6>
            </mat-list-item>
            <mat-list-item>
              <h6 *ngIf="this.batch">Start Date: {{this.batch.startDate | date}}</h6>
            </mat-list-item>
            <mat-list-item>
              <h6 *ngIf="this.batch">End Date: {{this.batch.endDate | date}}</h6>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm my-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h4>Batch Progress</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <h5>Progress By Day</h5>
            </mat-list-item>
            <mat-list-item>
              <h6>{{this.percentCompletion | percent}} Days Completed</h6>
            </mat-list-item>
          </mat-list>
          <mat-progress-bar mode="determinate" [value]="this.percentCompletion * 100" color="accent"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>