<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" routerLink="/">BAM</a>

  <button #hamburger class="navbar-toggler dropdown" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse dropdown" id="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" routerLink="home" (click)="clickHamburger()">Home</a>
      </li>
      
      <div class="dropdown">
        <li class="nav-item" id="associatesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a routerLinkActive="active" class="nav-link">
            Associates
            <i class="fas fa-caret-down"></i>
          </a>
        </li> 
      
        <li class="dropdown-menu">
          <a class="nav-link" routerLink="associates/viewAssociates" (click)="clickHamburger()">View Associates</a>
        </li>
      </div>

      <div class="dropdown">
        <li class="nav-item" id="batchesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a routerLinkActive="active" class="nav-link">
            Batches
            <i class="fas fa-caret-down"></i>
          </a>
        </li>
      
        <li class="dropdown-menu">
          <a class="nav-link" routerLink="batches/myBatches" (click)="clickHamburger()">My Batches</a>
          <a class="nav-link" routerLink="batches/allBatches" (click)="clickHamburger()">All Batches</a>
          <a class="nav-link" routerLink="batches/editBatches" (click)="clickHamburger()">Edit Batches</a>
        </li>
      </div>

      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="boom" (click)="clickHamburger()">Boom</a>
      </li>
    </ul>
  </div>
</nav>