<mat-card class='border border-dark rounded justify-content-center'>
  <mat-card-header class="justify-content-center border border-dark rounded">
    <div class="d-flex">
      <div>
        Topic View
      </div>
    </div>
  </mat-card-header>
  <mat-grid-list cols="2" rowHeight="200" gutterSize="0">
    <mat-grid-tile>
      <mat-list>
        <mat-list-item *ngFor="let name of topics.names">
          <mat-radio-button (click)="topic=name" color="warn">{{name}}</mat-radio-button>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item *ngFor="let subtopic of topics.topic">
          <div>{{subtopic}}</div>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
