<br />
<h1 class="text-center">Curriculum Editor</h1>
<br />

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <mat-accordion>
      <h4 class="text-center">Course Structure</h4>
      <mat-expansion-panel *ngFor="let cname of curriculumNames">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{cname}}
          </mat-panel-title>
        </mat-expansion-panel-header>
            <button>Create new version</button>
        
        <div *ngFor="let curriculum of curriculums">
          <div *ngIf="curriculum.name == cname">{{curriculum.version}}</div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-accordion>
      <h4 class="text-center">Topic Pool</h4>
      <mat-expansion-panel *ngFor="let cname of curriculumNames">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{cname}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <input type="text" [(ngModel)]="topicSearch">
        <br />
        <br />
        <div *ngFor="let topic of getTopicsByCurriculums(cname)">
          {{ topic }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
</mat-grid-list>
