/* Hamburger Menu */
.bars-container {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: rgb(156, 156, 156);
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}
/* End Hamburger Menu */

@media(max-width: 575px) {
    .bars-container {
        display: inline-block;
    }
} */

.navbar-item {
    flex: 1 1 auto;
}

.active-link {
    color: salmon !important;
    border-bottom: 2px solid salmon !important;
}

mat-toolbar {
    background-color: rgb(156, 156, 156, 0) !important;
}
/* .mat-dialog-container {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    } */