<mat-toolbar *ngIf="show">
    <img src="../../../../assets/bam.png" width="200px" class="p-3">
  <span style="margin-right: 10px;">
    <a>
      <button mat-raised-button [color]="getColor('dashboard')" routerLink="dashboard">Dashboard</button>
    </a>
  </span>

  <span style="margin-right: 10px;">
    <a>
      <button mat-raised-button [color]="getColor('calendar')" routerLink="calendar">Calendar</button>
    </a>
  </span>

  <span style="margin-right: 10px;">
    <a>
      <button mat-raised-button [color]="getColor('curriculum/editor')" routerLink="curriculum/editor">Curriculum Editor</button>
    </a>
  </span>

  <span style="margin-right: 10px;">
    <a>
      <button mat-raised-button [color]="getColor('boom')" routerLink="boom">VP/QC (Boom)</button>
    </a>
  </span>

  <span style="flex: 1 auto;"></span>
  <span>
    <a>
      <button mat-raised-button (click)="logout()">Logout</button>
    </a>
  </span>
</mat-toolbar>
