<mat-card style="border-radius: 20px 20px 20px 20px;box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.555)">
    <h6 mat-dialog-title>Event Duplicate</h6>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <p>Would you like to overwrite the event time?</p>
        <br>
        <p>{{data.eventName}}</p>
        <p>{{data.eventDate}}</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="overrideEvent()">Yes</button>
        <button mat-button (click)="close()">No</button>
    </div>
</mat-card>
