<br>
<div class="p-5 m-auto">
  <div class="row">
    <div class="col-sm-3 mt-2">

      <mat-tab-group  [backgroundColor]="background">
        <mat-tab label="Curriculum">
          <mat-card>
            <mat-card-header>
              <mat-toolbar class="panel-bar">
                <span style="flex: 1 1 auto"></span>
                <span>

                  <h4 class="m-0 p-0" style="font-size: 140%;">Curriculum</h4>
                </span>
                <span style="flex: .6 .3 auto"></span>
                <span>
                  <button mat-button color="accent" mat-icon-button aria-label="add" (click)="createNewCurriculumDialog()">
                    <mat-icon color="secondary">add</mat-icon>
                  </button>
                </span>
                <span style="flex: 0.3 1 auto"></span>
              </mat-toolbar>
            </mat-card-header>
            <mat-card-content>
              <mat-accordion>
                <mat-expansion-panel *ngFor="let cname of curriculumNames">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{cname}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngFor="let curriculum of getCurriculumsByName(cname)">
                    <mat-toolbar>
                      <span *ngIf="curriculum.name === cname">
                        Version: {{curriculum.version}}
                        <div *ngIf="curriculum.status == 1">DRAFT</div>
                        <div *ngIf="curriculum.status == 2">NEEDS APPROVAL</div>
                        <div *ngIf="curriculum.status == 3">READ ONLY</div>
                        <div *ngIf="curriculum.status == 4">MASTER</div>
                      </span>
                      <span *ngIf="curriculum.name !== cname">
                        <del>Version: {{curriculum.version}}</del>
                        <div *ngIf="curriculum.status == 1">DRAFT</div>
                        <div *ngIf="curriculum.status == 2">NEEDS APPROVAL</div>
                        <div *ngIf="curriculum.status == 3">READ ONLY</div>
                        <div *ngIf="curriculum.status == 4">MASTER</div>
                      </span>

                      <span class="fill-remaining-space">
                      </span>
                      <span *ngIf="curriculum.name === cname">
                        <button mat-icon-button color="" (click)="selectCurriculum(curriculum)">
                          <mat-icon color="secondary">visibility</mat-icon>
                        </button>
                      </span>
                      <span *ngIf="curriculum.name === cname">
                        <button mat-icon-button color="" (click)="copyCurriculum(curriculum)">
                          <mat-icon svgIcon="copy"></mat-icon>
                        </button>
                      </span>
                      <span *ngIf="curriculum.name !== cname">
                        <button mat-icon-button color="" (click)="reactivateCurriculum(curriculum)">
                          <mat-icon color="">add</mat-icon>
                        </button>
                      </span>
                    </mat-toolbar>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Topic Pool">
          <app-topic-pool></app-topic-pool>
        </mat-tab>
      </mat-tab-group>

    </div>
    <div class="col-sm-auto mt-2 curriculum-view">
      <app-curriculum-view [curriculum]='selectedCurriculum'></app-curriculum-view>
    </div>
  </div>
</div>