// Variables
// font
$weight: bold; 

// color 
$oColor: rgb(231, 94, 2); 
$wColor: white; 

// border
$radius: 13px 13px 13px 13px; // border radius
$shadow: 0px 0px 2px 2px; //shadow effect on buttons related to Calender

// styling for All mat-cards related curriculum
mat-card{
    position: fixed;
    border-radius: $radius;
}

#btn{
    background-color: $oColor;
    background-size: 20px;
    border-radius: $radius; 
    color: white;
    font-weight: $weight;
    border-style: outset;
    border-width: 3px;
    border-color: $oColor $shadow; 
    font-size: .85vw;
    border-radius: 13px 13px 13px 13px;
    width: 7vw;
    height: 2.5vw;
  }

button{
    background-color: $oColor;
    border-radius: $radius; 
    color: white;
    border-style: outset;
    border-color: $oColor $shadow; 
    font-size: .2vw;
    width: 1.7vw;
    height: 1.8vw;
  }

// specific mat-card styling
#curr{
    width: 20%;
}

.row{
    margin-top: 5%;
    width: 70%;
    margin-left: 15%; 
}

.mat-toolbar {
    background-color: rgba(0, 0, 0, 0.014);
}

.mat-expansion-panel-header {
    background-color: #fafafa;
}

.mat-expansion-panel {
    background-color: #fafafa;
    font-weight: $weight;
}



h2{
    width: 200%;
    font-weight: $weight;
    opacity: .8;
}

.panel-bar {
    font-size: 120%;
    margin-left: -20%;
}

