@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

// Variables
// font
$weight: bold; // font-weight
$mid: center; // text-align


// color 
$oColor: rgb(231, 94, 2); 
$wColor: white; 

// border
$radius: 13px 13px 13px 13px; // border radius
$shadow: 0px 0px 2px 2px; //shadow effect on buttons related to Calender

// size
$w100: 100%; // width 

::ng-deep .mat-progress-bar-fill::after {
    background-color: #E43D37;
}

::ng-deep .mat-progress-bar-buffer {
    background: $wColor;
}

// specific mat-card editting 
mat-card{
    background-color: #ffffffe7;
    color: black;
    font-weight: $weight;
    border-radius: 20px 20px 20px 20px;
}

// all mat-card-headers related to dashboard
mat-card-header{
    font-size: 1.3vw;
}

// batch button above Today bar
#batch{
    background-color: $oColor;
    border-radius: $radius;
    border-style: outset;
    border-width: 3px;
    border-color: $oColor $shadow;
    color: $wColor;
    font-weight: $weight;
    width: 30%;
    height: $w100;
    font-size: 1.3vw;
}

// button configuration for specific button editting
button{
    background-color: $oColor;
    border-radius: $radius;
    color: $wColor;
    font-weight: $weight;
    border-style: outset;
    border-width: 3px;
    border-color: $oColor $shadow;
    font-size: 1.3vw;
  }
  button:hover{
    box-shadow:  $oColor $shadow;
  }

// Week at a glance
#week{
  font-weight: $weight;
  font-size: 2vw;
  text-align: $mid;
}

// Welcome, 
#title{
  text-align: $mid;
  font-size: 2.5vw;
}

// mat-card for Welcome, and week at a glance
#card{
    width: 50%;
    margin-left: 24%;
}

// info displayed when the batch button is clicked
#bInfo{
    font-weight: $weight;
    font-size: .9vw;
}

#batchHeader {
    background-color: rgb(189, 69, 0);
    opacity: .8;
    text-align: $mid;
    font-weight: $weight;
    color: $wColor;
    width: $w100;
    height: $w100;
}
#dashAll{
    margin-top: 3vw;
}

#timeBadge {
    color: $wColor;
}

.material-icons.matSpecs-24 {
    font-weight: $weight;
    font-size: 24px;
    color: rgba(116, 11, 11, 0.625)
}
.material-icons.flagColor-24 {
    font-weight: $weight;
    font-size: 24px;
    color: rgba(237, 19, 19, 0.625)
}

th{
    color: black;   
}