@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
::ng-deep .mat-progress-bar-fill::after {
    background-color: #E43D37;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

#batchHeader {
    background-color: rgb(255, 128, 0);
    opacity: .8;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
}

#timeBadge {
    color: white;
}
.material-icons.matSpecs-24 {
    font-size: 24px;
    color: rgba(116, 11, 11, 0.625)
}
.material-icons.flagColor-24 {
    font-size: 24px;
    color: rgba(237, 19, 19, 0.625)
}
