<mat-expansion-panel *ngIf="week">
  <mat-expansion-panel-header>
    <mat-panel-title style="font-weight: bold">
      Week #{{week.weekNum}}
    </mat-panel-title>
    <mat-panel-description style="font-size: 8px">
      <p *ngFor="let topic of objectKeys(topicInfo); let i = index;">
        {{topic}}: {{topicInfo[topic]}} <span *ngIf='i < objectKeys(topicInfo).length - 1'>, <br> </span>
      </p>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="container">
    <div class="row">
      <div class="col" *ngFor="let day of week.curriculumDays" style="padding-right: 0%; padding-left: 0%">
        <app-curriculum-day [day]='day' (dayChange)="onDayChange($event)"></app-curriculum-day>
      </div>
    </div>
  </div>

</mat-expansion-panel>