<mat-expansion-panel *ngIf="week">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Week #{{week.weekNum}}
    </mat-panel-title>
    <mat-panel-description>
      info graphics here
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="container">
    <div class="row">
      <div class="col-sm" *ngFor="let day of week.curriculumDays">
        <app-curriculum-day [day]='day' [weekNum]='week.weekNum' (dayChange)="onDayChange($event)"></app-curriculum-day>
      </div>
    </div>
  </div>

</mat-expansion-panel>