<h5 mat-dialog-title>Topic</h5>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="topicName" placeholder="Name of Topic">
  </mat-form-field>
  <br />
  <h6 mat-dialog-title>Sub-Topic <button mat-button color="primary"mat-icon-button aria-label="add" (click)="makefieldVisible()">
      <mat-icon>add</mat-icon>
    </button></h6>
  
  <div *ngIf="fieldVisible">
    <div>
      <ul>
        <li *ngFor="let subtopic of subtopics">{{ subtopic }}</li>
      </ul>
    </div>
    <mat-form-field>
      <input matInput [(ngModel)]="subtopicName" placeholder="Name of Sub-Topic">
    </mat-form-field>
    <button mat-button color="primary"mat-icon-button aria-label="add" (click)="addToSubTopics()">
        <mat-icon>check</mat-icon>
      </button>
  </div>
  <br />
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="addTopic()">Ok</button>
</div>
