@import '~@angular/material/theming';
@include mat-core();
$bam-app-theme-primary: mat-palette($mat-red, 600, 400, 800);
$bam-app-theme-accent:  mat-palette($mat-gray, 50, 50, 400);
$bam-app-theme-warn:    mat-palette($mat-orange);
$bam-app-theme-theme: mat-light-theme($bam-app-theme-primary, $bam-app-theme-accent, $bam-app-theme-warn);
@include angular-material-theme($bam-app-theme-theme);
