/* You can add global styles to this file, and also import other style files */
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

mat-card {
    background-color: #fdfdfd;
    border-radius: 60px 60px 60px 60px;
    border-style: double;
    border-width: 10px;
    border-color: rgb(255, 94, 0);
    opacity: .8;
    
}

mat-accordion {
  background-color: #000000e3;
}

mat-card-header {
    padding: 15px;
    margin: 0px;
    font-weight: bold;
   /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
mat-card-content {
    padding:15px;
}

h1,h2,h3,h4,h6 {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0px;
    color: rgba(214, 79, 0, 0.603);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(218, 88, 2);
}

p{
    font-weight: bold;
    font-size: 150%;
    
}

/* Background Wallpaper */
#bgImg{
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: .9;
}

/* All button tags */
button{
    background-color: rgb(255, 94, 0);
    border-radius: 13px 13px 13px 13px;
    size: 2vw;
  }