/**
* Variables
*/
$radius: 13px 13px 13px 13px; // border radius

/**
* Specific mat-card editting
*/
mat-card{
    position: fixed;
    width: 72%;
    margin-left: 6vw;
    margin-top: 2.8vw;
    border-radius: $radius;
    font-size: 4vw;
}

/**
* styling for entire div in component
*/
.currV {
    display: flex;
    flex-direction: column;
    max-width:1010px;
  }
