<mat-card *ngIf="curriculum">
    <mat-card-header>
      <mat-toolbar class="panel-bar">
        <h3 class="m-0 p-0">Curriculum View: {{curriculum.name}}</h3>
        <span>
          <button mat-button color="accent" mat-icon-button aria-label="add" (click)="openNewDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content style="overflow: auto; height: 470px;" *ngIf="curriculum.curriculumWeeks">
        <mat-expansion-panel *ngFor="let week of curriculum.curriculumWeeks">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Week #{{week.weekNum}}
              </mat-panel-title>
              <mat-panel-description>
                info graphics here
              </mat-panel-description>
            </mat-expansion-panel-header>
          
            <div class="container">
              <div class="row">
                <div class="col-sm" *ngFor="let day of week.curriculumDays">
                  <app-curriculum-day [day]='day'></app-curriculum-day>
                </div>
              </div>
            </div>
          
          </mat-expansion-panel>
    </mat-card-content>
  </mat-card>