<ng-template class="container-fluid" #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<br>
<div class="row justify-content-center mx-4 pb-4">
  <div class="col-md-2" *ngIf="showSideNav">
    <mat-card style="border-radius: 20px 20px 20px 20px">
      <mat-card-header>
        <mat-card-title>
          <h4 style="text-align: center; margin-left: -15%">Curriculums</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let curriculum of curriculumEvents" mwlDraggable [dropData]="{event: curriculum}" style="position:relative; z-index: 10; font-weight: bold">
          {{curriculum.title}} : Version {{curriculum.version}}</mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card style="border-radius: 20px 20px 20px 20px" class="mt-4">
      <mat-card-header>
        <mat-card-title>
          <h4 style="text-align: center;">Create Event</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content >
        <mat-form-field style="width: 9vw;">
          <input matInput #addSubtopic [(ngModel)]="newSubtopicName" placeholder="Event Name">
        </mat-form-field>
        <mat-form-field style="width: 9vw;">
          <input matInput [matDatepicker]="picker" [(ngModel)]="newSubtopicDate" placeholder="Choose a starting date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <button style="margin-left: 10%" mat-raised-button (click)="addEvent()">Create Event</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-10">
    <mat-card style="border-radius: 20px 20px 20px 20px">
      <mat-card-header class="text-center text-center align-content-center align-center justify-content-center">
        <mat-toolbar style="background-color: rgba(0, 0, 0, 0)">
          <button mat-button color="accent" mat-icon-button aria-label="add" (click)="toggleSideNav()">
              <mat-icon>add</mat-icon>
            </button>
          <span style="flex: 1 1 auto;"></span>
            <span class="btn-group">
              <span mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <button mat-raised-button >< Previous</button>
              </span>
              <span mwlCalendarToday [(viewDate)]="viewDate">
                <button mat-stroked-button color="accent">Today</button>
              </span>
              <span mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <button mat-raised-button >Next ></button>
              </span>
            </span>
            <span style="flex: .1 1 auto;"></span>
          <span class="col-md-4">
            <h1 id="currentDate">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
          </span>
          <span style="flex: .7 1 auto;"></span>
            <span class="btn-group">
              <span (click)="view = 'month'" [class.active]="view === 'month'">
                <button mat-raised-button >Month</button>
              </span>
              <span (click)="view = 'week'" [class.active]="view === 'week'">
                <button mat-raised-button >Week</button>
              </span>
              <span (click)="view = 'day'" [class.active]="view === 'day'">
                <button mat-raised-button >Day</button>
              </span>
            </span>
            <span style="flex: 1 1 auto;"></span>
      </mat-toolbar>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div #numWeek class="float-left">

        </div>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" dayStartHour="8" dayEndHour="18">
          </mwl-calendar-day-view>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>