<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<br>
<div class="row justify-content-center mx-4 pb-4" style="margin-top: 5%">
  <div class="col-md-2" *ngIf="showSideNav">
    <mat-card id="currAll" style="border-radius: 20px 20px 20px 20px; box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.555)" >
      <mat-card-header>
        <mat-card-title>
          <h4 style=" font-size: 1.7vw">Curriculums</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <div *ngIf="curriculumEvents == null">Loading</div>
      <mat-list>
        <mat-list-item *ngFor="let curriculum of curriculumEvents" mwlDraggable [dropData]="{event: curriculum}" style="position:relative; z-index: 10; font-weight: bold; font-size: .9vw"><mat-icon>drag_indicator</mat-icon>
          {{curriculum.title}} : Version {{curriculum.version}}</mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card id="cEvent" style="border-radius: 20px 20px 20px 20px;box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.555); ">
      <mat-card-header>
        <mat-card-title>
          <h4 style="font-size: 1.35vw">Create Event</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input matInput #addSubtopic [(ngModel)]="newSubtopicName" placeholder="Event Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [(ngModel)]="newSubtopicDate" placeholder="Choose a starting date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <button style="margin-left: 3vw" mat-raised-button (click)="addEvent()">Create</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-10">
    <mat-card style="border-radius: 20px 20px 20px 20px; box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.555); width: 90% " >
      <mat-card-header class="text-center text-center align-content-center align-center justify-content-center">
        <mat-toolbar style="background-color: rgba(0, 0, 0, 0)">
          <button mat-button  mat-icon-button  (click)="toggleSideNav()">
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
          <span style="flex: 1 1 auto;"></span>
            <span class="btn-group">
              <span mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <button mat-button >< Prev.</button>
              </span>
              <span mwlCalendarToday [(viewDate)]="viewDate">
                <button mat-stroked-button >Today</button>
              </span>
              <span mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <button mat-raised-button color="primary">Next</button>
              </span>
            </span>
            <span style="flex: .1 1 auto;"></span>
          <span class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </span>
          <span style="flex: .7 1 auto;"></span>
            <span class="btn-group">
              <span (click)="view = 'month'" [class.active]="view === 'month'">
                <button mat-raised-button color="primary">Month</button>
              </span>
              <span (click)="view = 'week'" [class.active]="view === 'week'">
                <button mat-raised-button color="primary">Week</button>
              </span>
              <span (click)="view = 'day'" [class.active]="view === 'day'">
                <button mat-raised-button color="primary">Day</button>
              </span>
            </span>
            <span style="flex: 1 1 auto;"></span>
      </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <div #numWeek class="float-left">

        </div>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view style="font-size: 1vw; " *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" dayStartHour={{startHour}} dayEndHour={{endHour}}>
          </mwl-calendar-day-view>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>