// Entire table, adding simple changes 
table{
    width: 100%; 
    margin-top: 5%;
 }

// whole Overall Progress card edits
 #dchart{
    height: 89.5%;
    width: 35%;
 }
// whole Weekly Progress card edits
 #bchart{
    height: 95%;
    width: 50%;
 }

// Overall Progress specifc edits, whats housed inside the card
 .dcard{
    position: relative;
    bottom: 70px;
    margin: 15px;
    background-color: rgb(238, 238, 238);
    height: 450px;
    width: 95%;
 }
// Weekly Progress specific edits, whats housed inside the card
 .bcard{
    margin: 15px;
    background-color: rgb(238, 238, 238);
    height: 590px;
    width: 95%;
 }

// Boom titles displayed above charts
 .banner{
    text-align:center;
    margin-bottom: 15px;
    padding: 8px;
 }

// Weekly progress trainer picker
 #batchSelect{
    margin-top: 30px;
    margin-left: 31px;
    width: 30%;
    font-weight: bold;
 }

// Overall progress input percent
 .input{
    position: absolute;
    bottom: 30px;
    font-weight: bold;
 }