table{
    width: 100%;
    margin-top: 5%;
 }

 #dchart{
    height: 89.5%;
    width: 35%;
 }
 #bchart{
    height: 95%;
    width: 50%;
 }
 
 .dcard{
    position: relative;
    bottom: 70px;
    margin: 15px;
    background-color: rgb(238, 238, 238);
    height: 450px;
    width: 95%;
 }
 .bcard{
    margin: 15px;
    background-color: rgb(238, 238, 238);
    height: 590px;
    width: 95%;
 }

 .banner{
    text-align:center;
    margin-bottom: 15px;
    padding: 8px;
 }

 #batchSelect{
    margin-top: 30px;
    margin-left: 31px;
    width: 30%;
 }

 .input{
    position: absolute;
    bottom: 30px;
 }