<mat-toolbar *ngIf="cognito.bamUser">
  <img src="../../../../assets/BF.png" height="100px" width="200px" class="p-3">
  <span style="margin-right: 10px;">
    <button style="border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555)" mat-raised-button [color]="getColor('dashboard')" routerLink="dashboard">Dashboard</button>
  </span>

  <span style="margin-right: 10px;">
    <button style="border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555)" mat-raised-button [color]="getColor('calendar')" routerLink="calendar">Calendar</button>
  </span>

  <span style="margin-right: 10px;">
    <button style="border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555)" mat-raised-button [color]="getColor('curriculum/editor')" routerLink="curriculum/editor">Curr. Editor</button>
  </span>

  <span style="margin-right: 10px;">
    <button style="border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555)" mat-raised-button [color]="getColor('boom')" routerLink="boom">Boom</button>
  </span>
  <span style="flex: 1 auto;"></span>
  <span style="margin-right: 10px;">
    <button style="border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555)" mat-raised-button (click)="editUserModal()">
      <mat-icon>person</mat-icon><span>{{cognito.bamUser.lastName}}</span>
    </button>
  </span>
  <span>
    <button style="border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555)" mat-raised-button (click)="logout()">Logout</button>
  </span>

</mat-toolbar>
